.controller-logo {
    height: 80px;
    width: 80px;
    padding-top: 0px;
    margin: 0 2rem;

}
.controller-footer h3 {
    font-weight: bold;
    color: #fff;
}

.controller-footer p {
    color: #fff;
}

.controller-footer a {
    color: #ffc600; 
    text-transform:uppercase;
}

footer {
    background-color: #164783!important;
}
.footer-links li a {
    background-color: #113766; 
    color:#fff;
}
.footer-links li a:hover {
    background-color: #ffc600; 
    color: #2a3644;
}

.footer-logo {
    padding-top:5px; 
    width:129px; 
    height:26px;
}

.logo {
    width: 200px!important;
    height: 40px;
    padding: 0 0 0 0;
}

div .about {
    padding-top:45px;
    padding-bottom:65px;
}

div .contact {
    padding-top:45px;
    padding-bottom:65px;
}

div .search-page {
    padding-top:45px; 
    padding-bottom:65px;
    background-color:#efefef;
}

.about .row .panel {
    color:#2a3644;
}

.about .row .panel h2 {
    color:#2a3644; 
}
.ob-gridview th {
    color:#2a3644;
}
.detail-header {
    color: #374452;
}

#instructions h3 {
    color:#2a3644;
}

#instructions h4 {
    color: #dfc470;
}

#instructions p {
    /*color: #fff;*/
}

.items-container .instructions-content {
    background-color: #2a3644;
}

/*Row control ul li a button background-color: #2a3644; */
    
.pagination .right span {
    color: #2a3644;
}

.search-field h2 {
    color: #2a3644;
}

label .date {
    background-color: #2a3644;
    color: #fff;
}

.range-slider {
    color: #2a3644;
    background-color: #2a3644;
} 

.search-field .button a {
    background-color: #2a3644;
}

.search-field .button a:hover {
    background-color: #ffc600; 
    color: #2a3644;
}

.controls .pagination span {
    display: inline-block;
    margin: 0 0  1rem;
}

.pagination-controls .button {
    padding: 0;
    margin: 0;
}
.search-page button, .search-page .button:hover {
    background: #ffb745;
}
.search-page button, .search-page .button input {
    width: 100%;
    height: auto;
    color: white;
    padding: 1rem;
}
.information-section {
    color: white;
    margin-top: 1rem;
}
.about-links {
    list-style: none;
    margin-left: 0;
}
.about-links li {
    display: inline-block;
}
.search-by {
    background: none;
    border: none;
}
.search-by td {
    padding: 0;
}
.search-by input[type="checkbox"] + label, input[type="radio"] + label {
    /*color: white;*/
    margin: 0 0.5rem;
}
.pagination select {
    display: inline-block;
    float: left;
}
.item h2 a {
    color: #333333;
}
.sort-dropdown {
    width: 97%;
    display: inline-block;
}

.search-page {
    border-bottom: 3px solid #333;

}
.adminfoot {
    background: #666;
}
.admin-nav {
    background: #333;
    
    
}
.admin-nav li a:not(.button) {
    padding: 1rem 1rem;
    background:#444;
    color:white !important;
}
.footer-links li a {
    background: #113766;
}
.footer-links li:last-child a {
    margin: 0;
}
.footer-links li i {
    margin-left: 10px;
}
footer {
    padding: 3rem 0 2rem;
}
@media only screen and (max-width: 40em) {
    .copyright .copy {
        color: #fff; 
        padding-top: 10px;
        margin-top: 2rem;
    }
}    

.obvious-button {
    font-style:italic;
    font-weight:bold;
    text-decoration:underline;
    color:blue;
}
