<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
 <appSettings>
  <add key="onbaseDBserver" value ="localhost"/>
  <add key="onbaseDBname" value ="ONBASE"/>
  <add key="onbaseDBuser" value ="OnBaseReadOnly"/>
  <add key="onbaseDBpassword" value ="dande89lyon!"/>
  <add key="ONBintegratedSecurity" value ="false"/>

   <add key="ONBDocketNumberTable" value ="hsi.keyitem325"/>
   <add key="ONBdocketNumberOwner" value ="k325"/>
   <add key="ONBkeyValueDatefieldTable" value ="hsi.keyitem167"/>

   <add key="ONBdocketNumberField" value ="keyvaluechar"/>
   <add key="ONBitemtypeField" value ="itemtypenum"/>
   <add key="ONBitemTypeTable" value ="[ONBASE].[hsi].[itemtype]"/>
   <add key="ONBkeyvaluedateField" value ="keyvaluedate"/>
   <add key="ONBitemnumField" value ="itemnum"/>
   
   <add key="ONBhsiItemDataTable" value ="hsi.itemdata"/>


   <add key="PMSDBserver" value ="localhost"/>
   <add key="PMSDBname" value ="City"/>
   <add key="PMSDBuser" value ="rails"/>
   <add key="PMSDBpassword" value ="rails!"/>
   <add key="PMSintegratedSecurity" value ="false"/>

   <add key="FilePathForPMSsqlInsert" value ="C:\code\openbooks\OnBasePMS\bin\Debug\ONBpmsLog.txt"/>
   
 </appSettings>
</configuration>