<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
 <appSettings>
    <add key="onbaseDBserver" value ="localhost\SQLEXPRESS"/>
    <add key="onbaseDBname" value ="CityController"/>
    <add key="onbaseDBuser" value ="citycontroller"/>
    <add key="onbaseDBpassword" value ="dande89lyon!"/>

    <add key="integratedSecurity" value ="false"/>

  </appSettings>
</configuration>