<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="fileUploadPath" value="~/Uploads/" />
  </appSettings>
	<connectionStrings>
		<!--
		<add name="CityControllerConnectionString" connectionString="Data Source=ZEODEV01;Initial Catalog=CityController;Persist Security Info=True;User ID=citycontroller;Password=dande89lyon!"
            providerName="System.Data.SqlClient" />
		<add name="CityControllerConnectionString" connectionString="Data Source=72.18.156.74,1533;Initial Catalog=CityController;Persist Security Info=True;User ID=citycontroller;Password=dande89lyon!" providerName="System.Data.SqlClient"/>

		-->
    <add name="CityControllerConnectionString" connectionString="Data Source=ggomerwwga.database.windows.net;Initial Catalog=CityController;Integrated Security=False;User ID=cityUser;Password=MonkeY99;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>
<!--		<add name="CityControllerConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=CityController;Persist Security Info=True;User ID=citycontroller;Password=dande89lyon!" providerName="System.Data.SqlClient"/>
-->
  </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<customErrors defaultRedirect="Error.aspx" mode="Off">
			<error statusCode="500" redirect="Error.aspx"/>
			<error statusCode="404" redirect="404.aspx"/>
			<error statusCode="403" redirect="Error.aspx"/>
		</customErrors>
		<!--<compilation debug="true" targetFramework="4.0"> batch false prevents ASP._masters_masterpage_master exists in both ... errors -->
		<compilation debug="true" batch="false">
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Admin/login.aspx" name="AuthCookie" timeout="60" defaultUrl="~/Admin/Default.aspx" slidingExpiration="false"/>
		</authentication>
		<authorization>
			<allow users="*"/>
		</authorization>
		<!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>--></system.web>
	<location path="Admin">
		<system.web>
			<authorization>
				<deny users="?"/>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<!--
		<authentication mode="Windows" />
	</system.web>
-->
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
